page-new-section {
	.flex-container {
		display: flex;
		justify-content: space-between;
		max-width: 50%;
	}
	// .flex-container > .imgCard {
	// 	align-items: center;
	// 	justify-content: center;
	// 	display: flex;
	// }
}
