<ion-header>

  <ion-toolbar>
    <ion-title>Top News</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">
  <ion-card *ngIf="!news">No news found!</ion-card>
  <ion-grid *ngFor="let post of news; let i = index">
    <ion-row>
      <ion-col width-50 class="flex-container">
        <ion-card [routerLink]="['/selected-news', i]">
          <ion-card-header *ngIf="post.urlToImage && post.author" style="font-weight: 500">
            {{post.author}}
          </ion-card-header>
          <ion-card-content>
            {{post.title}}
          </ion-card-content>
          <ion-card-content *ngIf="post.urlToImage && post.author">
            <img [src]="post.urlToImage">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>