<ion-header>

  <ion-toolbar>
    <ion-title>{{source | uppercase}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content (click)="openNewsPage()">
      <img [src]="imgData">
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <h6 class="fullStory" (click)="openNewsPage()">Read full story</h6>
    <ion-row>
      <ion-col width-30 class="newsCol">
        <p>Author</p>
        {{author}}
      </ion-col>
      <ion-col width-30 class="newsCol">
        <p>Published Data</p>
        {{timeStamp | date}}
      </ion-col>
      <ion-col width-30 style="text-align: center; background: #ECECEC">
        <p>Source</p>
        {{source}}
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row text-center padding>

      <p style="font-weight: 500">{{title}}</p>

    </ion-row>

    <ion-row padding>
      {{description}}
    </ion-row>

  </ion-grid>


</ion-content>